@model LibraryManagementSystem.Domain.Author
@{
    Layout = "_Layout";
}

<h1>Add Author</h1>
@* DO NOT MODIFY ABOVE THIS LINE *@

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:10px;">Save</button>
    <a asp-action="Authors" class="btn btn-secondary" style="margin-top:10px;">Cancel</a>
    
</form>

@* DO NOT MODIFY BELOW THIS LINE *@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}